 
DATABASE_URL=postgresql://neondb_owner:npg_nhax5rZ6vTLD@ep-gentle-leaf-an1zml1c-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

PORT=8000
HOST=0.0.0.0


ARCJET_KEY="ajkey_01k8k5fmeff1j9smm3213j580r"
ARCJET_ENV="development"


API_URL="https://localhost:8000"


BROADCAST="1"
DELAY_MS="250"
MATCH_COUNT="0"